---
import { Image } from "astro:assets";
import MainLayout from "./MainLayout.astro";
import BlogPostHeader from "../components/BlogPostHeader.astro";

const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout title={title} description={description}>
    <BlogPostHeader {category} {title} {author} {image} />
    <div class="post-content">
        <div class="content">
            <slot />
        </div>
    </div>
</MainLayout>
